[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
django-haystack = "*"
elasticsearch = "==7.10.1"
django-storages = "*"
psycopg2-binary = "*"
boto3 = "*"
elasticsearch-dsl = "*"

[dev-packages]

[requires]
python_version = "3.11"
