<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Flying Saucer Files</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="loading-indicator" class="loading-indicator hidden">
        <div class="saucer">🛸</div>
    </div>
    <div class="container">
        <header class="header">
            <h1>The Flying Saucer Files</h1>
            <p>Welcome to the first searchable database of Project Blue Book, Sign, and Grudge UFO casefiles!</p>
            <!-- Buy Me A Coffee Button -->
            <div class="buy-me-a-coffee">
                <a href="https://www.buymeacoffee.com/projectbluebook" target="_blank">
                    <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 30px !important;width: 108px !important;">
                </a>
            </div>
        </header>
        
        <form method="GET" action="" class="search-form" onsubmit="showLoadingIndicator()">
            <div class="form-group">
                <input type="text" id="text-content" name="text_content" value="{{ text_content }}" placeholder="Search text content..."> <label for="text_content">Fulltext</label>
            </div>
            <div class="form-group">
                <div class="date-range">
                    <input type="month" id="start-date" name="start_date" value="{{ start_date }}">
                    <label for="start-date">to</label>
                    <input type="month" id="end-date" name="end_date" value="{{ end_date }}"><label for="end-date">Date Range</label>
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="location" name="location" value="{{ location }}" placeholder="Search location..."><label for="location">Location</label>
            </div>
            <div class="form-group">
                <input type="text" id="witness_description" name="witness_description" value="{{ witness_description }}" placeholder="Search witnesses..."><label for="witness_description">Witness Description</label>
            </div>
            <button type="submit">Search</button>
        </form>

        {% if results %}
            <h2>{{ result_count }} search results for "{{ query }}"</h2>
            <div class="card-container">
                {% for result in results %}
                    <div class="card">
                        <div class="card-header">
                            <h3><a href="{{ result.url }}">{{ result.title }}</a></h3>
                        </div>
                        <div class="card-body">
                            <p><strong>Summary:</strong> {{ result.summary }}</p>
                            <p><strong>Location:</strong> {{ result.location }} 📍</p>
                            <p><strong>Date:</strong> {{ result.date }} 🔍</p>
                            <p><strong>Witnesses:</strong> {{ result.witness_description }} 🕵️‍♂️</p>
                            <p class="highlighted-content">
                                {% if result.content %}
                                    {{ result.content|safe }}
                                {% else %}
                                    No content available.
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ result.pdf }}">View PDF</a> 📄
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-results">No results found.</p>
        {% endif %}
    </div>
    <script>
        function showLoadingIndicator() {
            document.getElementById('loading-indicator').classList.remove('hidden');
        }
        // Hide loading indicator when page is fully loaded
        window.addEventListener('load', function() {
            document.getElementById('loading-indicator').classList.add('hidden');
        });
    </script>
</body>
</html>
